        * {
        font-family: "Quando", serif;
        font-weight: 400;
        font-style: normal;;
        color: #665544;
        box-sizing: border-box;}
        
        header h1 {
        color: white; }

        article h4 {
        text-align: center;}

        section h3 {
            font-weight: 
        }

        article img {
        max-width: 100%;
        height:auto;}

        nav, #feature, footer {
        margin: 1%; }

        nav li {
        display: inline;
		padding: 0.5em;
        color: white;}
        

        .row-color-1 {
            background-color:antiquewhite;
        }
/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
  }
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 10px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }